<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="/static/index.css">
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
</head>
<body>
    <header>
        <h1 class="logo">Logo</h1>
        <h3 class="container"><a href="login"> Logout</a></h3>
    </header>
    <main> 
         <!-- Content changes here -->
    <pre class="main-text">
        <a href="login">
        Logged In
    </a>
        Welcome to Website.
        <a href="signup.html">
        
    </a>
    </pre>

    <!-- Content changes end here -->
</main>
</body>
</html>