<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Sacramento&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
    <title>View</title>
    <link rel="stylesheet" href="/static/view.css">
   </head>
<body>
    <header>
        <a href="index.html" class="logo">Logo</a>
    </header>
    

    <main>
        <h1>Hello!, Name.</h1>
    </main>
</body>
</html>